.cc{
    background-color: lightblue;
    padding: 5px;
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightblue;
}