.cc{
    background-color: blue;
    padding: 10px;
    size: 8px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: blue;
}