body{
    background: #e2e2e2!important;

}

.bg-primary{
    background: #009688 !important;
    padding: 10px;
    display: flex;
    color: white;
}
.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img.png");
    background-size: cover;
    color: white;
}
.heading{
    font-size: 50px;

}
.btn:hover{
    background: red;

}
/*.bg-container {*/
/*    background-image: url("https://lh3.googleusercontent.com/p/AF1QipPBE75pcEHZJPBlirA_dXZwj2g1i0qhYB85hfsX=s680-w680-h510");*/
/*    width:100%;*/
/*    height:100%;*/
/*    border:1px solid red;*/
/*    box-sizing:border-box;*/
/*    background-repeat: no-repeat;*/
/*    min-height: 100%;*/
/*    */
/*}*/