<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark nav justify-content-center bg-primary">
    <h3 class="heading" >ECE Library </h3>
</nav>

<div class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="font-weight-bold" >WelCome to Library</h1>
        <br>

        <form  action="#" th:action="@{/Admin-register}">
            <button  type="submit" class="btn btn-primary btn-lg">Admin Login</button>
        </form><br>
        <form  action="#" th:action="@{/new-user}">
            <button  type="submit" class="btn btn-primary btn-lg">New User</button>
        </form><br>
        <form  action="#" th:action="@{/user-login}">
            <button  type="submit" class="btn btn-primary btn-lg">User Login</button>
        </form>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>